.actions-toolbar {
  display: flex;
  justify-content: center;
}
.actions-toolbar .action-links {
  border-radius: 40px;
  border: 2px solid #EE6E01;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EE6E01;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.4px;
  height: 53px;
  padding: 0 32px;
  transition: 0.3s;
}
.actions-toolbar .action-links:hover {
  background: #EE6E01;
  color: #fff;
}
@media (max-width: 767px) {
  .actions-toolbar .action-links {
    height: 45px;
  }
}

.page #breadcrumb {
  background: rgba(0, 0, 0, 0.5);
}

#article-page {
  padding-top: 64px;
  background: #f7f7f7;
}
@media (max-width: 767px) {
  #article-page {
    padding-top: 48px;
  }
}
#article-page .related-article {
  padding-top: 0;
  padding-bottom: 0;
}
#article-page .related-article .heading {
  margin-bottom: 64px;
}
@media (max-width: 767px) {
  #article-page .related-article .heading {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 32px;
    padding-bottom: 20px;
  }
}
#article-page .related-article {
  background: #f7f7f7;
}
#article-page .related-article.factory-column {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  #article-page .related-article.factory-column {
    margin-bottom: 80px;
  }
  #article-page .related-article.factory-column .heading {
    margin-bottom: 50px;
  }
}
#article-page .related-article.part-time-job {
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  #article-page .related-article.part-time-job {
    padding-bottom: 0;
  }
}
#article-page .related-article h3.title {
  color: #2e2e2e;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3.2px;
  position: relative;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #article-page .related-article h3.title {
    font-size: 16px;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}
#article-page .related-article .heading span {
  display: block;
}
#article-page .related-article .heading .t2 {
  font-size: 20px;
}
#article-page .single-main {
  background: transparent;
}
#article-page .single-main .main-content {
  background: transparent;
  margin-top: 0;
}

.heading-entry {
  color: #2E2E2E;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  margin-bottom: 67px;
}
.heading-entry:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg, #ed6d00 0, #ffd12e 100%);
  border-radius: 6px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .heading-entry {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-bottom: 32px;
  }
}

#sitemap {
  padding-top: 64px;
  padding-bottom: 112px;
}
#sitemap .sitemap-inner {
  max-width: 670px;
  margin: auto;
}
#sitemap .sitemap-content {
  border-radius: 20px;
  background: #FFF;
  padding: 37px 40px;
}
#sitemap .page-list .page-item {
  margin-bottom: 16px;
}
#sitemap .page-list .page-item .link-page {
  border-radius: 12px;
  background: #F4F6F5;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #2E2E2E;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.8px;
  height: 59px;
  padding: 6px 24px;
}
#sitemap .page-list .page-item .link-page i {
  font-weight: 300;
  transition: 0.2s;
}
#sitemap .page-list .page-item .link-page.toggle {
  cursor: pointer;
}
#sitemap .page-list .page-item .link-page.toggle i {
  font-size: 20px;
  transform: unset !important;
}
#sitemap .page-list .page-item .link-page:hover {
  background: #51A940;
  color: #fff;
}
#sitemap .page-list .page-item .link-page:hover i {
  transform: translateX(10px);
}
#sitemap .page-list .page-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #sitemap .page-list .page-item {
    margin-bottom: 8px;
  }
  #sitemap .page-list .page-item .link-page {
    font-size: 16px;
    letter-spacing: 1.6px;
    height: 56px;
    padding: 4px 16px;
  }
}
#sitemap .tags-post-list {
  padding: 24px 24px 0;
}
@media (max-width: 767px) {
  #sitemap .tags-post-list {
    padding: 24px 16px 0;
  }
}
#sitemap .tags-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 4px;
}
#sitemap .tags-list li a {
  border-radius: 30px;
  border: 1px solid #51A940;
  background: #FFF;
  color: #51A940;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 5.5px 12px 5.5px 24px;
  text-indent: -12px;
}
#sitemap .tags-list li a:hover {
  background: #51A940;
  color: #fff;
}
@media (max-width: 767px) {
  #sitemap .tags-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
  }
}
@media (max-width: 767px) {
  #sitemap {
    padding-top: 48px;
  }
  #sitemap .sitemap-content {
    padding: 32px 16px;
  }
}

#abput-page {
  padding-top: 64px;
}
@media (max-width: 767px) {
  #abput-page {
    padding-top: 48px;
  }
}
#abput-page .about-content {
  border-radius: 20px;
  background: #FFF;
  max-width: 670px;
  margin: 0 auto 80px;
  padding: 40px;
}
#abput-page .about-content h3 {
  color: #2E2E2E;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2.5px;
  margin-bottom: 32px;
}
#abput-page .about-content h4 {
  color: #2E2E2E;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2.4px;
  margin-bottom: 32px;
}
#abput-page .about-content p {
  color: #2E2E2E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 32px;
}
#abput-page .about-content p:last-child {
  margin-bottom: 0;
}
#abput-page .about-content .content-body > .wp-block-columns {
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 32px;
}
#abput-page .about-content .content-body > .wp-block-columns:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#abput-page .about-content .wp-block-columns {
  margin-bottom: 40px;
}
#abput-page .about-content .wp-block-columns.wp-container-core-columns-is-layout-2 .wp-block-column {
  width: 50%;
}
@media (max-width: 767px) {
  #abput-page .about-content .wp-block-columns.wp-container-core-columns-is-layout-2 .wp-block-column {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #abput-page .about-content .wp-block-columns {
    margin-bottom: 32px;
  }
}
#abput-page .about-content .wp-block-columns .wp-block-columns {
  margin-bottom: 24px;
  column-gap: 0;
  row-gap: 32px;
}
#abput-page .about-content .wp-block-image {
  border: 1px solid #DDD;
  margin-right: 32px;
  padding: 35px 40px;
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  #abput-page .about-content {
    padding: 32px 16px;
  }
  #abput-page .about-content h3 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 24px;
  }
  #abput-page .about-content h4 {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
  #abput-page .about-content .wp-block-image {
    margin-right: 0;
    padding: 46px 35px;
  }
  #abput-page .about-content .search-job {
    margin-top: 32px;
  }
}