.actions-toolbar {
  display: flex;
  justify-content: center;
}
.actions-toolbar .action-links {
  border-radius: 40px;
  border: 2px solid #EE6E01;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EE6E01;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.4px;
  height: 53px;
  padding: 0 32px;
  transition: 0.3s;
}
.actions-toolbar .action-links:hover {
  background: #EE6E01;
  color: #fff;
}
@media (max-width: 767px) {
  .actions-toolbar .action-links {
    height: 45px;
  }
}

.ajax-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 9;
  top: 0;
  left: 0;
}

.popup-error {
  position: fixed;
  z-index: 999;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  min-height: 220px;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.popup-error.is-open {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.popup-error .btn-close {
  position: absolute;
  top: -20px;
  right: -20px;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.popup-error .btn-close:hover path {
  stroke: red;
  transition: 0.2s;
}

.wp-pagenavi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  margin-top: 60px;
  row-gap: 12px;
}
.wp-pagenavi span {
  width: 26px;
  height: 36px;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  border: 0 !important;
  background-color: #EE6E01;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.wp-pagenavi span.extend {
  border: 1px solid #ddd !important;
  width: 34px;
  background: #fff;
  color: #B2B2B2;
  font-size: 20px;
}
.wp-pagenavi span.pages {
  color: #2E2E2E;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  background: transparent;
  width: auto;
  margin-right: 16px;
}
.wp-pagenavi a {
  width: 26px;
  height: 36px;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  background-color: #fff;
  color: #EE6E01;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: 1px solid #EE6E01 !important;
}
.wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink {
  width: 32px;
}
.wp-pagenavi a.last, .wp-pagenavi a.first {
  width: auto;
  padding: 0 8px;
  column-gap: 8px;
  font-family: "LINE Seed JP_OTF";
}
.wp-pagenavi a:hover {
  background: #ed6d00;
  color: #fff;
}

.search-results-block {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 60px;
  padding: 16px 0;
}
.search-results-block .search-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.search-results-block .toolbar-title-wrapper {
  width: 200px;
}
.search-results-block .toolbar-title-wrapper #toolbar-amount {
  color: #2E2E2E;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.search-results-block .toolbar-title-wrapper .toolbar-number {
  font-weight: 600;
}
.search-results-block .search-form {
  width: calc(100% - 420px);
  padding-right: 30px;
}
.search-results-block .search-form label {
  position: relative;
  width: 100%;
}
.search-results-block .search-form button {
  position: absolute;
  top: 48%;
  left: 25px;
  transform: translateX(-50%);
  display: flex;
  pointer-events: none;
}
.search-results-block .search-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 10px 45px;
  font-family: "LINE Seed JP_OTF";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #2E2E2E;
}
.search-results-block .search-form input:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.search-results-block .sort-by {
  width: 220px;
  position: relative;
}
.search-results-block .sort-by .label-sort {
  color: #2E2E2E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 15px;
  pointer-events: none;
}
.search-results-block .sort-by select {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  padding: 5px 30px 5px 63px;
  color: #2E2E2E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  border: 1px solid #e0e0e0;
  background-color: #f3f3f3;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46387 1.27295L6.46387 6.27295L11.4639 1.27295' stroke='%232E2E2E' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  text-transform: capitalize;
}
.search-results-block .sort-by select:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.search-results-block .sort-by select::-ms-expand {
  display: none;
}
.search-results-block .sort-by select {
  -webkit-appearance: none;
  -moz-appearance: none;
}