@import "../_var.scss";

#page-top{
  position: absolute;
  top: -32px;
  right: 120px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;

  @include sm{
    right: 40px;
  }

  @include xs{
    right: 12px;
    top: -28px;
  }

  &.is-open{
    opacity: 1;
    visibility: visible;
  }

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover{
      svg{

        circle{
          fill: #ee6e01;
          transition: .2s;
        }

      }
    }

    svg{
      margin-bottom: 7px;

      @include xs{
        width: 56px;
        height: auto;

        circle{
          stroke-width: 3px;
        }

      }

    }

    span{
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 1.6px;

      @include xs{
        font-size: 13px;
        letter-spacing: 1.3px;
      }

    }

  }

}

#footer{
  background: #2E2E2E;
  color: #fff;
  padding-bottom: 64px;
  padding-top: 64px;
  position: relative;
  z-index: 12;

  a{
    color: #fff;
  }

  .footer-top{
    margin-bottom: 80px;

    .footer-logo{
      text-align: center;
      color: #fff;
      margin-bottom: 48px;

      .sub-titleLogo{
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.2px;
      }

      svg{
        margin-bottom: 10px;
      }

      a{
        display: inline-block;

        &:hover{

          .sub-titleLogo{
            color: #EE6E01;
          }

          path{
            fill: #EE6E01 !important;
          }
        }
      }

    }

    .social-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 16px;
      row-gap: 16px;
      margin-bottom: 48px;
      padding: 0 30px;

      circle, rect{
        transition: .3s;
      }

      a{
        display: flex;
      }

      a:hover{
        circle{
          stroke: #EE6E01 !important;
        }

        rect, path{
          fill: #EE6E01 !important;
        }
      }

    }

    .footer-nav-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 18px;

      .footer-nav-item{
        position: relative;

        &:after{
          content: "|";
          position: absolute;
          color: #FFF;
          font-family: "LINE Seed JP_OTF";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 1.4px;
          right: -11px;
          top: 2px;
        }

        &:last-child:after{
          opacity: 0;
        }

        a{
          color: #FFF;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 1.4px;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      @include xs{
        column-gap: 32px;
        padding-right: 16px;

        .footer-nav-item{
          &:after{
            right: -17px;
          }
        }

      }

    }

  }

  .footer-bottom{
    .copyright{
      color: #FFF;
      text-align: center;
      font-size: 11px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 1.1px;
    }
  }

}

