@import "../_var.scss";


.bg-loading-search{
  background: rgba(0, 0, 0, .2);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 11;

  &.is-open{
    display: block;
  }
}

#header-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.07);

  .header-nav {
    width: 100%;
    background: #fff;

    &.scroll-header{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      transform: translate3d(0,-100%,0);
      transition: none;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    &.site-header--opening{
      transform: translateZ(0);
      transition: transform .5s cubic-bezier(.165, .84, .44, 1);
    }

  }

  .header-inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 40px;
    height: 64px;
    margin: auto;

    @include md{
      padding: 0 20px;
    }

    @include sm{

      padding: 0 12px;

      .right-header{
        display: none !important;
      }
    }

  }

  .header-logo {
    .link-logo {
      display: flex;
      align-items: center;

      @include xs{

        .logo{
          max-width: 110px;
        }

      }

    }

    .subTitle-logo {
      color: #B0B0B0;
      text-align: center;
      font-family: "LINE Seed JP_OTF";
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 1.1px;
      margin-left: 12px;

      @include md{
        max-width: 80px;
        text-align: left;
      }

      @include xs{
        font-size: 11px;
        line-height: 1.25;
      }

    }
  }

  .header-megamenu {
    #navList-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 24px;

      .menu-item{

        &:last-child{
          a:after{
            content: "";
            position: relative;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect y='0.5' width='16' height='16' fill='url(%23pattern0_122_4)'/%3E%3Cdefs%3E%3Cpattern id='pattern0_122_4' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_122_4' transform='scale(0.0625)'/%3E%3C/pattern%3E%3Cimage id='image0_122_4' width='16' height='16' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAAAcElEQVQ4EWNgoBAw4tKvYOH0H5ccTPzBiX049TMQMgAmzwQzjVyapgY0EuMqFpAimH/QNQDF62FiuAIMbABIES4FIDlcFoDkKA4DcDziswFkCxSAwgTuJZAY3NWEDMAnT7EXBt4AeDTi8yc0EGlDAQB34Bq0wu1ysQAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3C/svg%3E%0A");
            width: 16px;
            height: 17px;
            background-size: 100%;
            display: inline-block;
            margin-left: 5px;
            top: 3px;
          }
        }

        a{
          color: #2E2E2E;
          font-family: "LINE Seed JP_OTF";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1.4px;
          position: relative;
          display: inline-block;

          &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background: linear-gradient(90deg, #ed6d00 0, #ffd12e 100%);
            border-radius: 6px;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s;
          }

          &:hover:before{
            width: 100%;
          }

        }
      }
    }
  }

  .header-action-right{
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    position: relative;
    z-index: 2;
    width: 270px;
    margin-left: 68px;

    @include md{
      margin-left: 0;
    }

    @include xs{
      display: flex;
      flex-wrap: wrap;
      column-gap: 25px;
      position: relative;
      width: 90px;
      align-items: center;

      &:after{
        content: "";
        position: absolute;
        width: 1px;
        height: 32px;
        background: #D9D9D9;
        top: 0;
        left: 48%;
      }

    }

    .searchForm{
      width: 142px;
      position: relative;

      @include xs{
        width: 32px;
      }

      .toggle-form{
        display: none;

        @include xs{
          display: flex;
          width: 100%;
          height: 32px;
          align-items: center;
          justify-content: center;
        }

      }

      form{
        position: relative;

        @include xs{
          position: absolute;
          width: 100vw;
          right: -70px;
          top: 10px;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
          opacity: 0;
          visibility: hidden;
          transition: .3s;

          &.is-open{
            opacity: 1;
            visibility: visible;
            top: calc(100% + 16px);
          }

        }

      }

      &.is-active{
        .results-form{
          opacity: 1;
          visibility: visible;
        }
      }

      .results-form{
        position: absolute;
        width: 100vw;
        max-width: 500px;
        background: #fff;
        right: 0;
        top: calc(100% + 1px);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
        padding: 32px 22px 32px 32px;
        border-radius: 12px;
        opacity: 0;
        visibility: hidden;
        min-height: 150px;

        .loading{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, .5);
          border-radius: 12px;
          opacity: 0;
          visibility: hidden;

          &.active{
            opacity: 1;
            visibility: visible;
          }

          img{
            width: 40px;
          }
        }

        .results-box{
          max-height: 420px;
          overflow: auto;
          padding-right: 10px;

          &::-webkit-scrollbar {
            width: 7px;
            border-radius: 6px
          }

          &::-webkit-scrollbar-track:hover {
            background: #ededed
          }

          &::-webkit-scrollbar-track {
            background: #ededed;
            border-radius: 8px
          }

          &::-webkit-scrollbar-thumb {
            background: #ed6d00;
            border-radius: 8px;
            background-clip: content-box;
            cursor: pointer
          }

        }

        .result-error{
          color: #2E2E2E;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
        }

        .results-count{
          color: #2E2E2E;
          font-size: 16px;
          font-weight: 400;
          margin-top: 30px;
          border-top: 1px solid;
          padding-top: 15px;
        }

        .search-link{

          a{
            color: #51a940;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            margin-top: 20px;

            &:hover{
              text-decoration: underline;
            }

          }
        }

        .search-result-item{
          margin-bottom: 20px;

          &:last-child{
            margin-bottom: 0;
          }

          .post-link{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
          }

          .image-post{
            width: 30%;

            a{
              display: block;

              &:hover{
                img{
                  //transform: scale(1.1);
                }
              }
            }

            .img-inner{
              position: relative;
              padding-bottom: 67%;
              border-radius: 12px;
              overflow: hidden;
            }

            img{
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              transition: .4s;
              object-fit: cover;
              object-position: center;
            }

          }

          .info{
            width: 70%;
            padding-left: 20px;
          }

          .title-post{

            a{
              color: #2E2E2E;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 1.6px;
              margin-bottom: 12px;

              &:hover{
                text-decoration: underline;
              }
            }

          }

          .info-bottom{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 15px;
          }

          .category{
            display: flex;
            position: relative;
            z-index: 5;

            a{
              color: #51A940;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 1.2px;
              position: relative;
              z-index: 5;

              &:hover{
                text-decoration: underline;
              }
            }
          }

          .date-time{
            color: #B2B2B2;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            text-align: right;
          }

        }


      }

      label{
        display: block;
        position: relative;
        transition: .2s;
        width: 100%;

        button{
          //content: "";
          position: absolute;
          //background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.87435' cy='7.33772' r='5.37435' stroke='%23A0A0A0' stroke-width='3'/%3E%3Crect x='11.0796' y='10.0928' width='7.77743' height='2.74974' transform='rotate(45 11.0796 10.0928)' fill='%23A0A0A0'/%3E%3C/svg%3E");
          width: 17px;
          height: 18px;
          top: 11px;
          left: 16px;
          z-index: 2;
          pointer-events: none;

          @include xs{
            top: 14px;
          }

        }

        .amsearch-loader-block{
          position: absolute;
          background: url("data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA") no-repeat center;
          bottom: 0;
          height: 11px;
          right: 10px;
          width: 16px;
          z-index: 10;
          top: 50%;
          transform: translateY(-50%);
          display: none;
        }

        &.active{
          width: calc(100% + 80px);
          margin-left: -80px;

          @include xs{
            width: 100%;
            margin-left: 0;
          }

          input{
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
          }
        }

      }

      input{
        width: 100%;
        border-radius: 30px;
        border: 1px solid #E0E0E0;
        background-color: #F3F3F3;
        position: relative;
        height: 40px;
        font-family: "LINE Seed JP_OTF";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.2px;
        padding: 10px 10px 10px 40px;

        @include xs{
          border-radius: 0;
          border: 0;
          height: 46px;
          padding: 10px 10px 10px 45px;
        }

        &::placeholder{
          color: #A0A0A0;
        }
      }

      button{
        position: absolute;
        left: 16px;
        top: 11px;
      }
    }

    .btn-openMenu{
      border-radius: 30px;
      background: #ED6D00;
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      cursor: pointer;

        .title-btnMenu{
          color: #FFF;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: 1.2px;

          @include xs{
            display: none;
          }

        }

      @include xs{
        width: 32px;
        height: 32px;
        background: transparent;
        border-radius: 0;

        .icon-btnMenu{
          rect{
            fill: #2E2E2E;
          }
        }

      }
    }
  }

}


#header-popup{
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  &.is-open{
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  a{
    color: #fff;
  }

  .inner{
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .bg-header{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.98;
    background: #2E2E2E;
    top: 0;
    left: 0;
  }

  .header-content{
    max-width: 368px;
    margin: auto;
  }

  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

    picture{
      display: block;
      margin-bottom: 8px;
    }

    .subTitle-logo{
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 1.6px;
    }

  }

  #menu{
    margin-bottom: 32px;

    li{
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);

      a{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        padding: 16px 0;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.4px;

        &:after{
          content: "\f178";
          position: absolute;
          font-family: "Font Awesome 6 Pro";
          font-size: 16.5px;
          font-weight: 300;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover{
          color: #EE6E01;
          transition: .3s;

          &:after{

          }

        }

      }
    }
  }


  .contact-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 48px;

    li{

      margin-bottom: 16px;

      &:nth-child(2n){
        padding-left: 32px;

        @include xs{
          width: 120px;
          padding-left: 0;
        }

      }

      a{
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 1.4px;
        display: inline-block;
        position: relative;

        @media (max-width: 350px) {
          font-size: 12px;
        }

        i{
          font-size: 16.5px;
          font-weight: 300;
          margin-left: 9px;
        }

        &:hover{
          color: #EE6E01;
          transition: .3s;
        }

      }
    }
  }

  .social-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;

    circle, rect{
      transition: .3s;
    }

    a{
      display: flex;
    }

    a:hover{
      circle{
        stroke: #EE6E01 !important;
      }

      rect, path{
        fill: #EE6E01 !important;
      }
    }

  }

  .close-header{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover{
      svg{
        path{
          fill: #EE6E01;
          transition: .3s;
        }
      }

      .txt-close{
        color: #EE6E01;
        transition: .3s;
      }

    }

    svg{
      margin-bottom: 6px;
    }

    .txt-close{
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 1.4px;
    }

    @include xs{
      width: 32px;
      height: 32px;
      right: 24px;
      top: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      svg{
        width: 18px;
        height: 18px;
        margin-bottom: 0;

        path{
          stroke-width: 2px;
          stroke: #fff;
        }

      }

      .txt-close{
        display: none;
      }

    }

  }

  @include xs{
    .logo{
      margin-bottom: 40px;
    }

    .contact-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 333px;
    }

    .social-list{
      padding: 0 35px;
    }

  }

}


.admin-bar{
  #header-popup{
    &.is-open{
      top: 32px;
    }
  }
}

@media screen and (max-width: 782px) {
  .admin-bar{
    #header-popup{
      &.is-open{
        top: 46px;
      }
    }
  }
}






