@import "../_var.scss";

.page{
  #breadcrumb{
    background: rgba(0, 0, 0, .5);
  }
}

#article-page{
  padding-top: 64px;
  background: $bgBlock;

  @include xs{
    padding-top: 48px;
  }

  .related-article{
    padding-top: 0;
    padding-bottom: 0;

    .heading{
      margin-bottom: 64px;

      @include xs{
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 32px;
        padding-bottom: 20px;
      }

    }
  }

  .related-article{
    background: $bgBlock;

    &.factory-column{
      margin-bottom: 100px;

      @include xs{
        margin-bottom: 80px;

        .heading{
          margin-bottom: 50px;
        }
      }

    }

    &.part-time-job{
      padding-bottom: 40px;

      @include xs{
        padding-bottom: 0;
      }

    }

    .action-feature{
      margin-top: 60px;
    }

    h3.title{
      color: #2e2e2e;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 3.2px;
      position: relative;
      text-align: center;
      padding-bottom: 12px;
      margin-bottom: 30px;

      @include xs{
        font-size: 16px;
        margin-bottom: 30px;
        padding-bottom: 0;
      }

    }

    .heading{
      span{
        display: block;
      }

      .t2{
        font-size: 20px;
      }

    }

  }

  .single-main{
    background: transparent;

    .main-content{
      background: transparent;
      margin-top: 0;
    }
  }

}


.heading-entry{
  color: #2E2E2E;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  margin-bottom: 67px;

  &:after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, #ed6d00 0, #ffd12e 100%);
    border-radius: 6px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @include xs{
      font-size: 24px;
      letter-spacing: 2.4px;
      margin-bottom: 32px;
  }

}


#sitemap{
  padding-top: 64px;
  padding-bottom: 112px;

  .sitemap-inner{
    max-width: 670px;
    margin: auto;
  }

  .sitemap-content{
    border-radius: 20px;
    background: #FFF;
    padding: 37px 40px;
  }

  .page-list{
    .page-item{
      margin-bottom: 16px;

      .sub-menu{
        display: none;
        margin-left: 20px;
        padding: 20px 0 4px;

        @include xs{
          padding: 20px 0 12px;
          margin-left: 12px;
        }

        .menu-item{
          margin-bottom: 12px;

          &:last-child{
            margin-bottom: 0;
          }

          a{
            border-radius: 12px;
            background: #f4f6f5;
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            align-items: center;
            width: 100%;
            color: #2e2e2e;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 1.8px;
            height: 50px;
            padding: 6px 24px;
            position: relative;

            &:hover{
              background: #51A940;
              color: #fff;
            }

            @include xs{
              font-size: 14px;
              padding: 6px 16px;
            }

            @media (max-width: 375px) {
              font-size: 13px;
              column-gap: 8px;
              padding: 6px 10px;
              height: 46px;
            }

          }

          span{
            font-weight: 400;
          }

          i{
            font-weight: 300;
            position: absolute;
            top: 16px;
            right: 24px;

            @include xs{
              right: 16px;
            }

            @media (max-width: 375px) {
              right: 10px;
            }

          }

        }
      }

      .link-page{
        border-radius: 12px;
        background: #F4F6F5;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #2E2E2E;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.8px;
        height: 59px;
        padding: 6px 24px;

        i{
          font-weight: 300;
          transition: .2s;
        }

        &.toggle{
          cursor: pointer;

          i{
            font-size: 20px;
            transform: unset !important;
          }
        }

        &:hover{
          background: #51A940;
          color: #fff;

          i{
            transform: translateX(10px);
          }
        }

      }

      &:last-child{
        margin-bottom: 0;
      }

    }

    @include xs{

      .page-item{
        margin-bottom:8px;

        .link-page{
          font-size: 16px;
          letter-spacing: 1.6px;
          height: 56px;
          padding: 4px 16px;
        }
      }
    }

  }

  .tags-post-list{
    padding: 24px 24px 0;

    @include xs{
      padding: 24px 16px 0;
    }

  }

  .tags-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 12px;
    column-gap: 4px;

    li{

      a{
        border-radius: 30px;
        border: 1px solid #51A940;
        background: #FFF;
        color: #51A940;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        display: inline-block;
        padding: 5.5px 12px 5.5px 24px;
        text-indent: -12px;

        &:hover{
          background: #51A940;
          color: #fff;
        }

      }

    }

    @include xs{
      grid-template-columns: repeat(2,1fr);
      column-gap: 8px;

    }

  }

  @include xs{
    padding-top: 48px;

    .sitemap-content{
      padding: 32px 16px;
    }

  }

}



#abput-page{
  padding-top: 64px;

  @include xs{
    padding-top: 48px;
  }

  .about-content{
    border-radius: 20px;
    background: #FFF;
    max-width: 670px;
    margin: 0 auto 80px;
    padding: 40px;

    h3{
      color: #2E2E2E;
      text-align: center;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 2.5px;
      margin-bottom: 32px;
    }

    h4{
      color: #2E2E2E;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 2.4px;
      margin-bottom: 32px;
    }

    p{
      color: #2E2E2E;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 2;
      margin-bottom: 32px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .content-body{
      >.wp-block-columns{
        border-bottom: 1px solid #E7E7E7;
        padding-bottom: 32px;

        &:last-child{
          border-bottom: 0;
          padding-bottom: 0;
        }

      }
    }

    .wp-block-columns{
      margin-bottom: 40px;

      &.wp-container-core-columns-is-layout-2{
        .wp-block-column{
          width: 50%;

          @include xs{
            width: 100%;
          }

        }
      }

      @include xs{
        margin-bottom: 32px;
      }

      .wp-block-columns{
        margin-bottom: 24px;
        column-gap: 0;
        row-gap: 32px;
      }

    }

    .wp-block-image{
      border: 1px solid #DDD;
      margin-right: 32px;
      padding: 35px 40px;
      text-align: center;
      margin-bottom: 0;
    }

    @include xs{
      padding: 32px 16px;

      h3{
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 24px;
      }

      h4{
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 24px;
      }

      .wp-block-image{
        margin-right: 0;
        padding: 46px 35px;
      }

      .search-job{
        margin-top: 32px;
      }

    }

  }

}









