@import "../_var.scss";

.ajax-loading{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .4);
  z-index: 9;
  top: 0;
  left: 0;
}

.wp-pagenavi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin-top: 60px;

  span{
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 0 !important;
    background-color: #ed6d00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  }

  a{
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 0 !important;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);

    &:hover{
      background: #ed6d00;
      color: #fff;
    }

  }

}

.search-results-block{
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 60px;
  padding: 16px 0;

  .search-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .search-form{
    width: calc(100% - 220px);
    padding-right: 30px;

    label{
      position: relative;
      width: 100%;
    }

    button{
      position: absolute;
      top: 48%;
      left: 25px;
      transform: translateX(-50%);
      display: flex;
      pointer-events: none;
    }

    input{
      width: 100%;
      height: 40px;
      border: 1px solid #e0e0e0;
      background-color: #f3f3f3;
      border-radius: 30px;
      padding: 10px 45px;
      font-family: "LINE Seed JP_OTF";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;

      &:focus{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
      }
    }
  }

  .sort-by{
    width: 220px;
    position: relative;

    .label-sort{
      color: #737373;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      position: absolute;
      top: 10px;
      left: 15px;
      pointer-events: none;
    }

    select{
      width: 100%;
      height: 40px;
      border-radius: 30px;
      padding: 5px 30px 5px 63px;
      color: #737373;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      font-family: Roboto, sans-serif;
      border: 1px solid #e0e0e0;
      background-color: #f3f3f3;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46387 1.27295L6.46387 6.27295L11.4639 1.27295' stroke='%23737373' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: calc(100% - 12px) 50%;
      text-transform: capitalize;

      &:hover{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
      }

      &::-ms-expand {
        display: none;
      }

    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
    }

  }
}













