@import "../_var.scss";


#breadcrumb{
  background: rgba(0, 0, 0, 0.50);
  padding: 6.5px 0;
  position: relative;
  z-index: 9;

  ol{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;

    @include xs{
      display: block;
      overflow: hidden;
    }

    li{
      color: #FFF;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 1.3px;
      position: relative;

      &.breadcrumb-item-article{
        display: none;
      }

      &:after{
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0.5L6 4L2 7.5' stroke='%23EE6E01'/%3E%3C/svg%3E%0A");
        width: 8px;
        height: 8px;
        background-size: 100%;
        top: 5.5px;
        right: -20px;

        @include xs{
          top: 4px;
          right: -17px;
        }

      }

      &:last-child:after{
        display: none;
      }

      @include xs{
        font-size: 11px;
        letter-spacing: 1.1px;
        display: inline;
        margin-right: 24px;
      }

    }

    a{
      color: #FFF;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 1.3px;

      &:hover{
        text-decoration: underline;
      }

      @include xs{
        font-size: 11px;
        letter-spacing: 1.1px;
      }

    }
  }

  @include xs{
    background: #7f6d60;
  }

}

#page-404{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50vh;

  .not-found-text{
    color: #2E2E2E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.6px;
    margin-bottom: 50px;
  }

  .not-found-button{
    text-decoration: underline;
    color: #2E2E2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.6px;
  }
}

.heateor_sss_sharing_container{
  margin-bottom: 50px;

  @include xs{
    padding: 0 8px;
    margin-bottom: 42px;
  }

  .heateor_sss_sharing_ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 10px;

    @include xs{
      column-gap: 7px;
    }

    a{
      margin: 0 !important;
      border-radius: 6px;
      overflow: hidden;
    }

    .heateor_sss_svg{
      width: 100% !important;

      @include xs{
        height: 30px !important;
      }

    }
  }
}

.header-entry{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 64px;

  .header-info{
    width: 50%;
    padding-right: 40px;

    .heading{
      color: #2E2E2E;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 3.2px;
      margin-bottom: 16px;
    }

    .info-bottom{
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2,1fr);
      column-gap: 20px;

      .category{
        a{
          color: #51A940;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1.6px;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      .date-time{
        color: #8A8A8A;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        text-align: right;
        padding-right: 4px;
      }

    }

  }

  .header-image{
    width: 50%;
    border-radius: 32px;
    overflow: hidden;

    img{
      width: 100%;
    }

  }

  @include sm{
    .header-info{
      .heading{
        font-size: 26px;
        letter-spacing: 2px;
      }
    }
  }

  @include xs{

    margin-top: 0;
    margin-bottom: 88px;

    .header-info{
      width: 100%;
      order: 2;
      padding-right: 0;

      .heading{
        font-size: 20px;
        margin-bottom: 9px;
        margin-right: -2px;
      }

      .info-bottom{
        .category {
          a{
            font-size: 14px;
            letter-spacing: 1.4px;
          }
        }

        .date-time{
          font-size: 14px;
          padding-right: 0;
        }

      }

    }

    .header-image{
      width: calc(100% + 24px);
      order: 1;
      margin-left: -12px;
      margin-right: -12px;
      border-radius: 0;
      margin-bottom: 24px;
    }

  }


}

.single-post{
  background: #F7F7F7;

  .bg-post{
    position: absolute;
    width: 100%;
    height: 770px;
    top: -90px;
    left: 0;
    background-position: top;
    background-size: cover;
    filter: blur(17px);
    opacity: .4;
    pointer-events: none;

    @include xs{
      top: 0;
      height: 550px;
      width: 1200px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1200px;
    }

  }

  .inner{
    position: relative;
    z-index: 2;
  }

}

.single-main{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 112px;

  @include xs{
    background: #f7f7f7;
    position: relative;
    z-index: 9;
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 12px 80px;
  }

  .main-content{
    width: calc(100% - 288px);
    padding-right: 42px;

    .single-box{
      border-radius: 20px;
      background: #FFF;
      padding: 40px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .15);
      min-height: 100vh;
    }

    @include sm{
      width: 66%;
      padding-right: 25px;

      .single-box{
        padding: 30px 20px;
      }
    }

    @include xs{
      width: 100%;
      padding-right: 0;
      margin-top: -49px;
      margin-bottom: 80px;

      .single-box{
        border-radius: 12px;
        padding: 26px 16px 40px;
        min-height: 300px;
      }

    }

    .share-title{
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:after{
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        height: 1px;
        background: #E7E7E7;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      .icon{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 4px;
        background: #fff;
        position: relative;
        z-index: 1;
        padding-right: 8px;
      }

      span{
        color: #B2B2B2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 2;
      }

    }

    .single-body{

      h2{
        color: #2E2E2E;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 2.4px;
        position: relative;
        padding-bottom: 7px;
        margin-bottom: 32px;

        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, #ed6d00 0, #ffd12e 100%);
          bottom: 0;
          left: 0;
          border-radius: 6px;
        }
      }

      h3{
        color: #2E2E2E;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.8px;
        padding-bottom: 12px;
        border-bottom: 2px solid #E7E7E7;
        margin-bottom: 24px;
      }

      .wp-block-columns{
        margin-bottom: 64px;

        &:last-child{
          margin-bottom: 0;
        }

      }

      figure{
        margin-bottom: 0;
      }

      figcaption{
        color: #979797;
        font-family: "LINE Seed JP_OTF";
        font-size: 12px;
        font-weight: 400;
        line-height: 1.75;
        margin-top: 12px;
        margin-bottom: 0;
      }

      p{
        color: #2E2E2E;
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
        margin-bottom: 40px;

        &:last-child{
          margin-bottom: 0;
        }

        strong{
          font-weight: 700;
        }
      }

    }

    #toc_container{
      width: 100%;
      font-size: 100%;
      padding: 32px;
      border: 0;
      border-radius: 12px;
      background: #F4F6F5;
      margin-bottom: 64px;

      .heading-table{
        display: flex;
        position: relative;
        margin-bottom: 24px;

        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #D9D9D9;
          top: 50%;
          left: 0;
        }

        .toc_title{
          color: #2E2E2E;
          font-family: 'Roboto', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 2.4px;
          display: flex;
          align-items: center;
          background: #F4F6F5;
          column-gap: 12px;
          position: relative;
          z-index: 2;
          padding-right: 12px;
        }
      }

      .toc_list{
        margin: 0;

        li{
          margin-bottom: 24px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;

          &:last-child{
            margin-bottom: 0;
          }

          >a{
            width: calc(100% - 26px);
          }

          a{
            color: #2E2E2E;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 1.6px;
            transition: .3s;

            .toc_number{
              min-width: 22px;
              display: inline-block;
            }

            &:hover{
              text-decoration: underline;
            }
          }

          ul{
            margin-top: 12px;
            width: 100%;

            @include xs{
              margin-left: 15px;
            }

            li{
              margin-bottom: 4px;

              a{
                font-weight: 400;
                width: 100%;
                display: flex;
              }

            }
          }

          .toggle-doc{
            cursor: pointer;
            padding: 0 5px;
            color: #fff;
            background: #ed6d00;
            border-radius: 4px;
          }

          > ul{
            display: none;
          }

        }

        >li{
          >a{
            .toc_number{
              display: none;
            }
          }
        }

      }

      @include xs{

        padding: 24px 20px;

        .heading-table{
          .toc_title{
            font-size: 20px;
            letter-spacing: 2px;
            column-gap: 8px;
            padding-right: 8px;
          }

        }

      }

    }

    .table-of-contents{
      border-radius: 12px;
      background: #F4F6F5;
      padding: 32px;
      margin-bottom: 64px;

      .heading-table{
        display: flex;
        position: relative;
        margin-bottom: 24px;

        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #D9D9D9;
          top: 50%;
          left: 0;
        }

        .title{
          color: #2E2E2E;
          font-family: 'Roboto', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 2.4px;
          display: flex;
          align-items: center;
          background: #F4F6F5;
          column-gap: 12px;
          position: relative;
          z-index: 2;
          padding-right: 12px;
        }
      }


      li{
        a{
          color: #2E2E2E;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1.6px;
          margin-bottom: 12px;
          transition: .3s;

          &:hover{
            text-decoration: underline;
          }
        }
      }

    }

  }

}


.search-job{
  border-radius: 12px;
  border: 2px solid #ED6D00;
  background: #FFFEF2;
  padding: 32px;
  margin-top: 40px;

  &.register{
    border-color: #51A940;

    .box-top{
      .info{
        .title{
          color: #51A940;
        }
      }
    }

    .action{
      a{
        background: linear-gradient(90deg, #51A940 0%, #FFD12E 100%);
      }
    }

  }

  .box-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;

    .logo-option{
      width: 190px;
    }

    .info{
      width: calc(100% - 190px);
      padding-left: 17px;

      .title{
        color: #EE6E01;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.4px;
      }

      .text{
        color: #2E2E2E;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.28px;
      }

    }

  }

  .action{
    a{
      border-radius: 40px;
      background: linear-gradient(90deg, #ED6D00 0%, #FFD12E 100%);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 54px;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 2px;
      transition: .3s;

      &:hover{
        box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
      }
    }
  }

  @include sm{
    padding: 20px;

    .box-top{

      .logo-option{
        width: 120px;
      }

      .info{
        width: calc(100% - 120px);

        .title{
          font-size: 18px;
        }

      }

    }

  }

  @include xs{

    padding: 32px 20px;

    .box-top{

      .logo-option{
        width: 100%;
        text-align: center;
        margin-bottom: 24px;

        img{
          max-width: 155px;
        }
      }

      .info{
        width: 100%;
        padding-left: 0;

        .title{
          letter-spacing: 0.36px;
          text-align: center;
          margin-bottom: 12px;
          padding: 0 5px;
        }

      }

    }

    .action{
      a{
        font-size: 18px;
        letter-spacing: 1.8px;
      }
    }

  }

}


.related-article{
  background: #fff;
  padding-top: 80px;
  padding-bottom: 93px;

  @include xs{
    padding-bottom: 120px;
  }

  .heading{
    color: #2E2E2E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 3.2px;
    position: relative;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 48px;

    &:after{
      content: "";
      position: absolute;
      width: 80px;
      height: 3px;
      background: linear-gradient(90deg, #ED6D00 0%, #FFD12E 100%);
      border-radius: 6px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include sm{
      font-size: 26px;
      letter-spacing: 2px;
    }

  }

  @include xs{
    padding-top: 40px;

    .heading{
      font-size: 24px;
      padding-bottom: 20px;
      margin-bottom: 32px;

      &:after{
        width: 40px;
        height: 4px;
      }

    }

  }

}

.related-article-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 32px;
  row-gap: 48px;

  &.article-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 40px;

    @include sm{
      column-gap: 15px;

      .article-item{
        .title-post{
          font-size: 14px;
        }
      }

    }

    @media (max-width: 550px) {

      grid-template-columns: repeat(1, 1fr);

      .article-item{
        .title-post{
          font-size: 16px;
          letter-spacing: 1.6px;
        }
      }

    }

  }

  @include sm{
    column-gap: 15px;
  }

  @include xs{
    grid-template-columns: repeat(2,1fr);
  }

  @media(max-width: 550px) {
    grid-template-columns: repeat(1,1fr);
    row-gap: 40px;
  }

  .article-item{

    a:hover{
      .image-post{
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
        img{
          transform: scale(1.1);
        }
      }

      .title-post{
        text-decoration: underline;
      }
    }

    .title-post{
      color: #2E2E2E;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 1.6px;
      margin-bottom: 12px;
    }

    .image-post{
      position: relative;
      padding-bottom: 66.6%;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 24px;

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        transition: .4s;
      }
    }

    .info-bottom{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 20px;
      //align-items: center;

      .category{
        display: flex;

        a{
          color: #51A940;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1.2px;

          &:hover{
            text-decoration: underline;
          }

          @include xs{
            font-size: 14px;
            letter-spacing: 1.4px;
          }

        }
      }

      .date-time{
        color: #B2B2B2;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        text-align: right;

        @include xs{
          font-size: 14px;
        }

      }

    }
  }

}


.navigation-more{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;

  @include xs{
    margin-top: 60px;
  }

  a{
    position: relative;
    border-radius: 40px;
    background: linear-gradient(90deg, #ed6d00 0, #ffd12e 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 54px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    transition: .3s;

    &:hover{
      box-shadow: 0 3px 6px rgba(0,0,0,.2);
    }

    &.is-loading{
      &:after{
        opacity: 1;
      }
    }

    &.is-stop{
      pointer-events: none;
    }

    &.is-opacity{
      pointer-events: none;
      opacity: .7;
    }

    &:after{
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto;background: transparent;display: block;shape-rendering: auto;' width='230px' height='230px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='rotate(0 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.9285714285714286s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(25.714285714285715 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.8571428571428571s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(51.42857142857143 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.7857142857142857s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(77.14285714285714 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.7142857142857143s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(102.85714285714286 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.6428571428571429s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(128.57142857142858 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5714285714285714s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(154.28571428571428 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(180 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.42857142857142855s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(205.71428571428572 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.35714285714285715s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(231.42857142857142 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.2857142857142857s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(257.14285714285717 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.21428571428571427s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(282.85714285714283 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.14285714285714285s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(308.57142857142856 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.07142857142857142s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3Cg transform='rotate(334.2857142857143 50 50)'%3E%3Crect x='44.5' y='10.5' rx='5.5' ry='5.5' width='11' height='11' fill='%23fff'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/g%3E%3C!-- %5Bldio%5D generated by https://loading.io/ --%3E%3C/svg%3E");
      width: 36px;
      height: 36px;
      background-size: 100%;
      background-repeat: no-repeat;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
    }

  }
}


.search-box{
  .search-results-none{
    color: #2e2e2e;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 600px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }
}


@include xs{
  .single-page{
    position: relative;
    overflow: hidden;
  }
}